{% layout layout.liquid %}

{% block content %}
    <header class="main-header post-head no-cover">
        <nav class="main-nav clearfix">
            <a class="back-button" href="/">
                <svg class="icon"><use href="/assets/images/icons.svg#chevron-left"></use></svg>
                Home
            </a>
            <a class="subscribe-button icon-feed" href="/feed.xml">
                <svg class="icon"><use href="/assets/images/icons.svg#rss"></use></svg>
                Subscribe
            </a>
        </nav>
    </header>

    <main class="content" role="main" itemprop="mainEntityOfPage" itemscope itemtype="https://schema.org/WebPage">

        <article class="post" itemprop="mainEntity" itemscope itemtype="http://schema.org/BlogPosting">

            <header class="post-header">
                <h1 class="post-title" itemprop="headline">{{ title }}</h1>
            </header>

            <section class="post-content" itemprop="articleBody">
                    {{ content }}
            </section>

            <footer class="post-footer">
                <!-- If we want to display author's name and bio -->
                {% if siteData.author_name %}
                    <figure class="author-image">
                        <a class="img" href="/" style="background-image: url(/assets/images/profile.jpg)">
                        <span class="hidden">{{ siteData.author_name }}'s Picture</span></a>
                    </figure>
                    <section class="author" itemprop="author" itemscope itemtype="https://schema.org/Person">
                        <!-- Author Name -->
                        <h4 itemprop="name">{{ siteData.author_name }}</h4>
                        <!-- Author Bio -->
                        <p>
                            {{ siteData.author_description }} Si quieres enviarme algún comentario, puedes <a href="/about">contactar conmigo</a>.
                        </p>
                    </section>
                {% endif %}

                {% include share %}
            </footer>
        </article>
    </main>
{% endblock %}
